<nav>

    <div class="container"> 

        <ul>
            <li class="members">
                <a href="/about" title="버즈니 소개" {% if 'about.md' == page.path %}class="active"{% endif %}>소개</a>
            </li>
            
            <li class="tech-blog">
                <a href="/" title="기술 블로그" {% if 'about.md' != page.path and 'jobs.md' != page.path %}class="active"{% endif %}>기술 블로그</a>
            </li>

            <li class="jobs">
                <a href="/jobs" title="채용정보" {% if 'jobs.md' == page.path %}class="active"{% endif %}>채용정보</a>
            </li>

            <li class="blog">
                <a href="http://blog.naver.com/buzzni" title="블로그" target="_blank">블로그</a>
            </li>
        </ul>

    </div>

</nav>
