@charset "UTF-8";

.container  {
    max-width: 60em;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/*
 * 상단 네비게이션바
 */

nav {
    width: 100%;
    border-bottom: 1px solid #CCC;

    &:after {
        content: "";
        clear: both;
    }

    ul {
        overflow: hidden;
        margin: 0;
    }

    li {
        float: left;
        list-style: none;
        border-top: 3px solid #434451;
        width: 25%;
    }

    a {
        position: relative;
        display: block;
        background: transparent;
        text-align: center;
        padding: .7em .4em;
        font-size: 1em;
        line-height: 1.75em;
        font-weight: bold;
    }
    
    a:hover,
    a:focus,
    a.active {
        *zoom:1;
        font-weight: bold;
        color: #000;
    }

    a:hover:before,
    a:focus:before,
    a:before,
    a.active:before {
        left: 50%;
    }

    a:before {
        position:absolute;
        content:"";
        top:0;
        width:0;
        height:0;
        border-color:transparent;
        border-style:solid;
        border-width:.5em;
        border-right-color:transparent;
        border-bottom-color:transparent;
        border-left-color:transparent;
        left:-9999px;
        margin-left:-.25em
    }

    .members,
    .members a:before {
        border-top-color: #468966;
    }

    .tech-blog,
    .tech-blog a:before {
        border-top-color: #FFF0A5;
    }

    .jobs,
    .jobs a:before {
        border-top-color: #FFB03B;
    }


    .blog,
    .blog a:before {
        border-top-color: #B64926;
    }
}

/*
 * 상단 헤더
 */

header {
    *zoom:1;
    background-color:#2b5b84;
    filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FF1E415E',endColorstr='#FF2B5B84');
    background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(10%,#1e415e),color-stop(90%,#2b5b84));
    background-image:-webkit-linear-gradient(#1e415e 10%,#2b5b84 90%);
    background-image:-moz-linear-gradient(#1e415e 10%,#2b5b84 90%);
    background-image:-o-linear-gradient(#1e415e 10%,#2b5b84 90%);
    background-image:linear-gradient(#1e415e 10%,#2b5b84 90%);
    -webkit-box-shadow:inset 0 0 50px rgba(0,0,0,0.03),inset 0 0 20px rgba(0,0,0,0.03);
    -moz-box-shadow:inset 0 0 50px rgba(0,0,0,0.03),inset 0 0 20px rgba(0,0,0,0.03);
    box-shadow:inset 0 0 50px rgba(0,0,0,0.03),inset 0 0 20px rgba(0,0,0,0.03)
}

/*
 * 포스트 목록
 */

.posts {
    .post-author-info {
        margin: 0;
        text-align: left;

        .portrait {
            width: 60px;
            vertical-align: middle;
            border-radius: 50%;
            float: right;
            margin-left: 40px;
        }
    }

    li {
        list-style: none;
        border-bottom: 1px solid #e9ebf0;
        padding: 8% 0;
    }

    .post-title {
        margin: 0 0 5px;
        font-size: 24px;
    }
}

/* 페이지네이터 */

.pagination {
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    margin-top: 30px;

    ol {
        display: inline-block;
        margin: 14px 24px;
    }

    li {
        display: inline-block;

        a {
            -webkit-transition: 0.2s ease-out all;
            margin: 4px 0;
            padding: 9px 14px;
            border-radius: 2px;
            font-size: 18px;
            color: #5a6173;
        }
    }

    .page .current-page,
    .page .current-page:hover {
        margin: 4px 0;
        padding: 9px 14px;
        border-radius: 2px;
        font-size: 18px;
        color: #5a6173;
        background-color: #f5f7fa;
    }

    .previous a,
    .next a,
    .previous.disabled,
    .next.disabled {
        font-size: 18px;
        color: #5a6173;
    }

    .previous.disabled,
    .next.disabled {
        color: #b0b6c2;
    }

    .previous,
    .next {
        padding: 2% 4%;
        border-radius: 2px;
        display: inline-block;
    }

    .previous:hover,
    .next:hover,
    .page a:hover {
        -webkit-transition: 0.2s ease-out all;
        background-color: #f5f7fa;
    }
}

/*
 * 푸터
 */

footer {
    clear: both;
    color: #666;
    padding: 3em 4em;

    .copyright {
        clear: both;
        color: #75a8d3;
        font-size: .75em;
        text-align: center;
    }
}
