@charset "UTF-8";

.container  {
    max-width: 60em;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/*
 * 상단 네비게이션바
 */

nav {
    width: 100%;
    border-bottom: 1px solid #CCC;

    &:after {
        content: "";
        clear: both;
    }

    ul {
        overflow: hidden;
        margin: 0;
    }

    li {
        float: left;
        list-style: none;
        border-top: 3px solid #434451;
        width: 25%;
    }

    a {
        position: relative;
        display: block;
        background: transparent;
        text-align: center;
        padding: .7em .4em;
        font-size: 1em;
        line-height: 1.75em;
        font-weight: bold;
    }
    
    a:hover,
    a:focus,
    a.active {
        *zoom:1;
        font-weight: bold;
        color: #000;
    }

    a:hover:before,
    a:focus:before,
    a:before,
    a.active:before {
        left: 50%;
    }

    a:before {
        position:absolute;
        content:"";
        top:0;
        width:0;
        height:0;
        border-color:transparent;
        border-style:solid;
        border-width:.5em;
        border-right-color:transparent;
        border-bottom-color:transparent;
        border-left-color:transparent;
        left:-9999px;
        margin-left:-.25em
    }

    .members,
    .members a:before {
        border-top-color: #2C3E50;
    }

    .blog,
    .blog a:before {
        border-top-color: #E74C3C;
    }

    .jobs,
    .jobs a:before {
        border-top-color: #3498DB;
    }

    .github,
    .github a:before {
        border-top-color: #ECF0F1;
    }
}

/*
 * 상단 헤더
 */

header {
    position: relative;
    width: 100%;
    height: 250px;
    clear: both;
    color: white;
    margin-bottom: 2em;

    .bg {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        padding: 0;
        width: 100%;
        height: 250px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background: url(/images/header-bg.png) center center no-repeat #FFCC4B;

        &.jobs {
            background: url(/images/jobs-bg.png) center center no-repeat #265091;
        }
    }

    .wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 250px;
        color: white;   
        text-shadow: 0 0 4px #000;
        z-index: 999;

        .table {
            display: table;
            margin: 0 auto;

            .row {
                display: table-row;

                h1 {
                    display: table-cell;
                    vertical-align: bottom;
                    font-size: 52px;
                    line-height: 1.2em;
                    letter-spacing: -0.02em;
                    font-weight: 700;
                    margin-left: -1.8px;
                    height: 125px;
                }

                p {
                    display: table-cell;
                    vertical-align: top;
                    width: auto;
                    font-size: 26px;
                    color: white;
                    letter-spacing: .01rem;
                    font-weight: 400;
                    word-wrap: break-word;
                    height: 125px;
                }
            }
        }   // .wrapper ends
    }
}   // header ends

/*
 * 포스트 목록
 */

.posts {
    .post-author-info {
        margin: 0;
        text-align: left;

        .portrait {
            width: 60px;
            vertical-align: middle;
            border-radius: 50%;
            float: right;
            margin-left: 40px;
        }
    }

    li {
        list-style: none;
        border-bottom: 1px solid #e9ebf0;
        padding: 8% 0;
    }

    .post-title {
        margin: 0 0 5px;
        font-size: 24px;
    }
}

/* 페이지네이터 */

.pagination {
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    margin-top: 30px;

    ol {
        display: inline-block;
        margin: 14px 24px;
    }

    li {
        display: inline-block;

        a {
            -webkit-transition: 0.2s ease-out all;
            margin: 4px 0;
            padding: 9px 14px;
            border-radius: 2px;
            font-size: 18px;
            color: #5a6173;
        }
    }

    .page .current-page,
    .page .current-page:hover {
        margin: 4px 0;
        padding: 9px 14px;
        border-radius: 2px;
        font-size: 18px;
        color: #5a6173;
        background-color: #f5f7fa;
    }

    .previous a,
    .next a,
    .previous.disabled,
    .next.disabled {
        font-size: 18px;
        color: #5a6173;
    }

    .previous.disabled,
    .next.disabled {
        color: #b0b6c2;
    }

    .previous,
    .next {
        padding: 2% 4%;
        border-radius: 2px;
        display: inline-block;
    }

    .previous:hover,
    .next:hover,
    .page a:hover {
        -webkit-transition: 0.2s ease-out all;
        background-color: #f5f7fa;
    }
}

/*
 * 푸터
 */

footer {
    clear: both;
    color: #666;
    padding: 3em 4em;

    .copyright {
        clear: both;
        color: #75a8d3;
        font-size: .75em;
        text-align: center;
    }
}
