/* 
 * 싱글 포스트
 */

.post-header {
    position: relative;
    width: 100%;
    height: 500px;
    color: white;
    clear: both;

    .layer, .bg {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .layer {
        z-index: -1;
        background-color: #000;
        opacity: 0.6;
    }

    .bg {
        background-size: cover;
        z-index: -2;
    }

    .wrapper {
        display: table;
        margin: 0 auto;
        height: 100%;

        .post-title {
            display: table-cell;
            margin: 0 auto;
            height: 100%;
            vertical-align: middle;
            text-shadow: 0 0 4px #000;

            h1 {
                text-align: left;
                font-size: 40px;
                line-height: 1.2em;
                letter-spacing: -0.02em;
                font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
                font-weight: 700;
                margin-left: -1.8px;
                margin-bottom: 4px;
            }

            .post-excerpt {
                display: block;
                text-align: left;
                width: auto;
                font-size: 22px;
                font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
                letter-spacing: .01rem;
                font-weight: 400;
                line-height: 1.5em;
                word-wrap: break-word;
            }
        }   // .post-title ends
    }   // .wrapper ends
}   // .post-header ends

.post-meta {
    display: table;
    font-size: 18px;
    color: #787878;
    background-color: #FAFAFA;
    width: 100%;
    padding: .5em 0 0 0;
    text-align: center;
    margin-bottom: 30px;

    .container {
        display: inline-block;

        div {
            display: table-cell;
            vertical-align: middle;
            padding-left: 20px;

            &.author-name {
                padding-left: 10px;
            }

            img {
                width: 32px;
                height: 32px;
                border-radius: 100%;
                background: #F0F0F0;
            }
        }

        .tags li {
            color: #999;
            font-size: 16px;
            display: inline-block;
        }
    }
} // .post-meta ends

.post-footer {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

    .back-btn {
        margin: 80px auto;
        text-align: center;
    }

    .back-btn a {
        padding: 20px 80px;
        display: inline-block;
        border-radius: 3px;
        font-size: 18px;
        border: 1px solid #CCC;
        background-color: #434451;
        color: #CCC;

        &:hover {
            border-color: #434451;
            background-color: #FBC700;
            color: #434451;
        }
    }
}   // .post-footer ends

.footnotes {
    border-top: 1px solid #CCC;
    margin: 5em 0;
    padding: 1em 0;

    ol li {
        line-height: 1.6em;
    }
}
