---
---

@font-face {
    font-family: 'Cocogoose Pro Light';
    src: url('../fonts/Cocogoose_Pro_Light-trial.eot');
    src: local(※), url('../fonts/Cocogoose_Pro_Light-trial.woff') format('woff');
}
@font-face {
    font-family: 'Cocogoose Pro SemiLight';
    src: url('../fonts/Cocogoose_Pro_Semilight-trial.eot');
    src: local(※), url('../fonts/Cocogoose_Pro_Semilight-trial.woff') format('woff');
}
@font-face {
    font-family: 'Cocogoose Pro Thin';
    src: url('../fonts/Cocogoose_Pro_Thin-trial.eot');
    src: local(※), url('../fonts/Cocogoose_Pro_Thin-trial.woff') format('woff');
}
@font-face {
    font-family: 'Cocogoose Pro UltraLight';
    src: url('../fonts/Cocogoose_Pro_Ultralight-trial.eot');
    src: local(※), url('../fonts/Cocogoose_Pro_Ultralight-trial.woff') format('woff');
}

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import "type-on-strap";

