---
layout: default
---

<header>

    <div class="container"> 
        {% if 'about.html' == page.path %}
            <div class="bg about"></div>
        {% else %}{% if 'jobs.md' == page.path %}
            <div class="bg jobs"></div>
        {% else %}
            <div class="bg"></div>
            <div class="wrapper">
                <div class="table">
                    <div class="row">
                        <h1>Buzzni Engineering</h1>
                    </div>
                    <div class="row">
                        <p>
                            Building the world's best shopping search platform finding<br/>
                            best products what you want to buy
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}{% endif %}
    </div>

</header>

<div class="page">

    <div class="container">
        <article class="markdown-body">
            {{ content }}
        </article>
    </div>

</div>
